<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
		<listener class-name="com.utility.Listerners" />
		<listener class-name="com.Test.resources.ExtentRepoterNG" />
	</listeners>
	<parameter name="enviroment" value="stage" />
	<parameter name="testCaseID" value="testCaseID_01" />
	<!--  <test name="Bio_lexicon" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Bio_lexicon" />
		</classes>
	</test> -->
	<test name="Coordinate_manager" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Coordinate_manager" />
		</classes>
	</test> 
</suite>
